.listContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  gap: 1em;
  height: fit-content;
  overflow: scroll;
  scrollbar-width: none;
  
  h3 {
    padding: 0.7em 0 ;
    font-size: 1.5rem;
    width: 100%;
    background-color: green;
    color: white;
    box-shadow: 0 2px 9px rgba(0, 0, 0, 0.9);
    text-shadow: 0 8px 4px rgba(0, 0, 0, 0.5);
  }

  .postListItem {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    border-radius: 0.5em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    p {
        width: 6em;
    }
  }
}
