.subSideMenu {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4em;
    font-size: 1.1rem;
    width: 33%;
    padding: 1em 0;
    border-radius: 0%;
    background-color: #1423DC;
    color: #FFF;
    border: none;

    &:hover {
      opacity: 0.9;
      cursor: pointer;
    }
    .iconPost {
      width: 1em;
      height: 1em;
    }
  }

  .button-active {
    background-color: darkgreen;
    opacity: 0.95;
  }
}

