.subSideMenu {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6em;
    font-size: 0.8rem;
    width: 28%;
    padding: 1em 0;
    border-radius: 0%;
    background-color: #fafafa;
    color: black;
    border: none;
    transition: 0.2s;
    border-radius: 0.5em;

    &:hover {
      opacity: 0.9;
      background-color: #f1f2f3;
      cursor: pointer;
    }
    &:focus {
      background-color: #DADDFC;
      opacity: 0.95;
    }

    .iconPost {
      width: 1em;
      height: 1em;
    }
  }
  .button-active {
    background-color: #DADDFC;
    opacity: 0.95;
  }
}

